---
description: 
alwaysApply: true
---

rules:
    luôn sử dụng java 21, spring boot 3.5.9
    các công nghệ khác như PostgreSQL, Redis, RabbitMQ, Kafka, ...
    giao tiếp với tôi bằng tiếng việt
    code gen ra luôn phải tối ưu, lean nhất có thể
    mỗi đoạn code quan trọng đều cần có comment giải thích bằng tiếng việt
    không tự động sinh file, thay đổi code trong file khi chưa có sự cho phép, chỉ cần code rồi đưa ra trong chat
    khi gợi ý code bạn cũng cần nói code đó sẽ phải code ở mục file nào, dòng nào (nếu là fix), cần chỉ dẫn rõ ràng
    với mỗi file trong cấu trúc cũng cần giải thích rõ file đó cần làm gì một cách ngắn gọn
    dự án sẽ dùng Java 21 (LTS), Spring Boot 3.5.x, Spring Security (tương thích), Spring Data JPA (Hibernate), PostgreSQL 15+, Redis 7.x (cache/token/queue), RabbitMQ (notification), Maven (hoặc Gradle), SpringDoc OpenAPI, Flyway cho migration, JUnit5 + Mockito, Testcontainers cho integration tests.
    cần phải luôn đạt chuẩn các quy tắc trong OOP, SOLID, Design Pattern, Clean Code, ...
project
    web hệ thống thương mại điện tử b2c bán nước hoa
    hệ thống sẽ có các chức năng:
    - đăng nhập, đăng ký
    - quản lý tài khoản
    - quản lý sản phẩm
    - quản lý đơn hàng
    - quản lý khách hàng
    - quản lý giỏ hàng
    - quản lý thanh toán
    - quản lý vận chuyển
    - quản lý đánh giá dành cho khách hàng
    - quản lý thống kê: doanh thu, sản phẩm,...
    - quản lý bài viết - chỉ nhân viên sử dụng
    hệ thống có 3 role:
    - quản trị viên - admin
    - nhân viên - staff
    - khách hàng - customer
